{% load static %}
<html>
    <head>
        <title>Peña Intercultural E.N.S. N°.11 2022</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body background="{% static 'imagenes/fondo.webp' %}" style="background-repeat: no-repeat; background-position:center center; background-size: 100% 100%;">
    <header>
        <div class="contenedor">
            <h1 class="icon-flag">Peña Intercultural <br></h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu-2" for="menu-bar"></label>
            <nav class="menu">
              <a href="{% url 'vista_inicio' %}">Inicio</a>
             <a href="{% url 'vista_mañana' %}">Turno Mañana</a>
             <a href="{% url 'vista_tarde' %}">Turno Tarde</a>
            </nav>
        </div>
    </header>
    <main>
        <section id="banner">
               <img src="{% static 'imagenes/Escuela.jpg' %}">
               <div class="contenedor">
                <h2>Escuela Normal Superior Nº11</h2>
               </div>
        </section>

        <section id="bienvenidos">
            <h2> Bienvenidos </h2>
            <p> Apartir de aqui hacia abajo encontraran diferentes cursos y paises a su eleccion
                para ver cada uno. </p>
        </section>

        <section id="parte1">
           <div class="contenedor">
              <article>
              <a href="{% url 'vista_uzbekistan' %}"> <img src="{% static 'imagenes/Uzbekistan.svg' %}"> </a>
                <h4> Curso: 1°A <br>
                    Profe: Padilla <br>
                    País: Uzbekistán </h4>
              </article>
              <article>
                <a href="{% url 'vista_afganistan' %}"> <img src="{% static 'imagenes/Afganistan.jpg' %}"> </a>
                <h4> Curso: 1°B <br>
                    Profe: Patricia Escobar / <br> Noelia Rodriguez <br>
                    País: Afganistán
               </h4>
              </article>
              <article>
                <a href="{% url 'vista_belgica' %}"> <img src="{% static 'imagenes/Belgica.jpg' %}"> </a>
                <h4>Curso: 1°C <br>
                    Profe: Paola Perini <br>
                    País: Bélgica 
              </h4>
              </article>
           </div>
        </section>
        <section id="parte1">
            <div class="contenedor">
               <article>
                <a href="{% url 'vista_españa' %}"> <img src="{% static 'imagenes/España.webp' %}"> </a>
                 <h4> Curso: 1°D <br>
                      Profe: Lara Adriana / <br> Demetrio Ocampo <br>
                      País: España </h4>
               </article>
               <article>
                <a href="{% url 'vista_cuba' %}"> <img src="{% static 'imagenes/Cuba.webp' %}"> </a>
                 <h4> Curso: 1°E <br>
                      Profe: Pfau Dayane / <br> Flores Marcela <br>
                      Paìs: Cuba
                </h4>
               </article>
               <article>
                <a href="{% url 'vista_kuwait' %}"> <img src="{% static 'imagenes/Kuwait.jpg' %}"> </a>
                 <h4>Curso: 1ºF <br>
                     Profe: Gladys Sánchez <br>
                     País: Kuwait 
               </h4>
               </article>
            </div>
         </section>
         <section id="parte1">
            <div class="contenedor">
               <article>
                <a href="{% url 'vista_indonesia' %}"> <img src="{% static 'imagenes/Indonesia.webp' %}"> </a>
                 <h4> Curso: 1°G <br>
                      Profe: Rotela Noelia <br>
                      País: Indonesia </h4>
               </article>
               <article>
                <a href="{% url 'vista_grecia' %}"> <img src="{% static 'imagenes/Grecia.webp' %}"> </a>
                 <h4> Curso: 1°H <br>
                      Profe: Gularte <br>
                      País: Grecia
                </h4>
               </article>
               <article>
                <a href="{% url 'vista_lituania' %}"> <img src="{% static 'imagenes/Lituania.webp' %}"> </a>
                 <h4>Curso: 2ºA <br>
                     Profe: Daniela Velázquez <br>
                     País: Lituania 
               </h4>
               </article>
            </div>
         </section>
         <section id="parte1">
            <div class="contenedor">
               <article>
                <a href="{% url 'vista_yemen' %}"> <img src="{% static 'imagenes/Yemen.webp' %}"> </a>
                 <h4> Curso: 2ºB <br>
                      Profe: Paola Perini <br>
                      País: Yemen </h4>
               </article>
               <article>
                <a href="{% url 'vista_austria' %}"> <img src="{% static 'imagenes/Austria.jpg' %}"> </a>
                 <h4> Curso: 2ºC <br>
                      Profe: Hansen Marcela <br>
                      País: Austria
                </h4>
               </article>
               <article>
                <a href="{% url 'vista_egipto' %}"> <img src="{% static 'imagenes/Egipto.jpg' %}"> </a>
                 <h4>Curso: 2ºD <br>
                     Profe: Laura Ibáñez <br>
                     País: Egipto 
               </h4>
               </article>
            </div>
         </section>
         <section id="parte1">
            <div class="contenedor">
               <article>
                <a href="{% url 'vista_africana' %}"> <img src="{% static 'imagenes/CentroAfricana.png' %}"> </a>
                 <h4> Curso: 2ºE <br>
                      Profe: Susana Lemes <br>
                      País: Republica <br> CentroAfricana </h4>
               </article>
               <article>
                <a href="{% url 'vista_brunei' %}"> <img src="{% static 'imagenes/Brunei.webp' %}"> </a>
                 <h4> Curso: 2ºF <br>
                      Profe: Skala Ricardo <br>
                      País: Brunéi
                </h4>
               </article>
               <article>
                <a href="{% url 'vista_guatemala' %}"> <img src="{% static 'imagenes/Guatemala.jpg' %}"> </a>
                 <h4>Curso: 3ºA <br>
                     Profe: Celia Garcia <br>
                     País: Guatemala 
               </h4>
               </article>
            </div>
         </section>
         <section id="parte1">
            <div class="contenedor">
               <article>
                <a href="{% url 'vista_croacia' %}"> <img src="{% static 'imagenes/Croacia.jpg' %}"> </a>
                 <h4> Curso: 3ºB <br>
                      Profe: Cardozo Analía / <br> Carolina Xander <br>
                      País: Croacia </h4>
               </article>
               <article>
                <a href="{% url 'vista_catar' %}"> <img src="{% static 'imagenes/Catar.webp' %}"> </a>
                 <h4> Curso: 3ºC <br>
                      Profe: Marta Cabrera <br>
                      País: Catar
                </h4>
               </article>
               <article>
                <a href="{% url 'vista_turquia' %}"> <img src="{% static 'imagenes/Turquia.png' %}"> </a>
                 <h4>Curso: 3ºD <br>
                     Profe: Tania Yablonski <br>
                     País: Turquia 
               </h4>
               </article>
            </div>
         </section>
         <section id="parte1">
            <div class="contenedor">
               <article>
                <a href="{% url 'vista_canada' %}"> <img src="{% static 'imagenes/Canada.webp' %}"> </a>
                <h4> Curso: 3ºE <br>
                    Profe: Analía Szczucki <br>
                    País: Canada </h4>
               </article>
                <article>
                <a href="{% url 'vista_cabo' %}"> <img src="{% static 'imagenes/CaboVerde.png' %}"> </a>
                 <h4> Curso: 4ºA <br>
                      Profe: Mirna Medina <br>
                      País: Cabo Verde </h4>
               </article>
               <article>
                <a href="{% url 'vista_hungria' %}"> <img src="{% static 'imagenes/Hungria.jpg' %}"> </a>
                 <h4> Curso: 4ºB <br>
                      Profe: Carmen Pérez / <br> Julia Benítez <br>
                      País: Hungria
                </h4>
               </article>
            </div>
         </section>
         <section id="parte1">
            <div class="contenedor">
                <article>
                    <a href="{% url 'vista_venezuela' %}"> <img src="{% static 'imagenes/Venezuela.jpg' %}"> </a>
                     <h4>Curso: 4ºC <br>
                         Profe: Patricia <br> Slamovits <br>
                         País: Venezuela 
                   </h4>
                   </article>
               <article>
                <a href="{% url 'vista_coreadelsur' %}"> <img src="{% static 'imagenes/CoreaDelSur.jpg' %}"> </a>
                 <h4> Curso: 4ºD <br>
                      Profe: Patricia Ibarra <br>
                      País: Corea del Sur </h4>
               </article>
               <article>
                <a href="{% url 'vista_argentina' %}"> <img src="{% static 'imagenes/Argentina.jpg' %}"> </a>
                 <h4> Curso: 5ºA <br>
                      Profe: Laura Opperman <br>
                      País: Argentina
                </h4>
               </article>
            </div>
         </section>
         <section id="parte1">
            <div class="contenedor">
                <article>
                    <a href="{% url 'vista_marino' %}"> <img src="{% static 'imagenes/SanMarino.png' %}"> </a>
                     <h4>Curso: 5ºB <br>
                         Profe:  <br>
                         País: San Marino 
                   </h4>
                   </article>
               <article>
                <a href="{% url 'vista_Suiza' %}"> <img src="{% static 'imagenes/Suiza.jpg' %}"> </a>
                 <h4> Curso: 5ºC <br>
                      Profe: Victor Cano <br>
                      País: Suiza </h4>
               </article>
               <article>
                <a href="{% url 'vista_etiopia' %}"> <img src="{% static 'imagenes/Etiopia.png' %}"> </a>
                 <h4> Curso: 5ºD <br>
                      Profe: Patricia Ibarra / <br> Eloisa Machado <br>
                      País: Etiopía
                </h4>
               </article>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="capsula">
            <p class="copy"> Copyright &copy; 2022 | Diseño y Desarrollo Web </p>
            </div>
    </footer>
    <footer>
        <div class="contenedor">
            <p class="copy"> Sosa Gaston </p>
            <div class="sociales">
              <button style="background-color: #333;"> <a class="icon-whatsapp" href="https://api.whatsapp.com/send?phone=543751362394">Numero de Celular</a> </button>
            </div>
        </div>
    </footer>

    <footer>
        <div class="contenedor">
            <p class="copy"> Cano Victor </p>
            <div class="sociales">
            <button style="background-color: #333;"> <a class="icon-whatsapp" href="https://api.whatsapp.com/send?phone=3751316672">Numero de Celular </a> </button>
            </div>
        </div>
    </footer>
</body>
</html>














    <!-- Write your comments here     <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Blog de la Peña Intercultural</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>-->

